@mixin button() {
	background: $light-gray;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	padding: 8px 1em;
	text-align: center;
	text-decoration: none;

	&:hover {
		background: shade($light-gray, 5);
	}
}

@mixin button-primary() {
	background: $flamingo;
	color: #fff;

	&:hover {
		background: shade($flamingo, 5);
	}
}

@mixin button-secondary() {
	background: $navy;
	color: #fff;

	&:hover {
		background: shade($navy, 5);
	}
}

@mixin button-block() {
	display: block;
}

.button {
	@include button;
}
