$hamburger-width:        20px;
$hamburger-height:       16px;
$hamburger-border:       2px;
$hamburger-border-color: #fff;

.hamburger-box {
	// Normalize (<button>)
	background-color: transparent;
	border: 0;
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;

	background: $navy;
	cursor: pointer;
	display: block;
	font-size: 0;
	line-height: 0;
	padding: 10px;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 1000;

	transition: all, 0.15s linear;
	// transition-property: opacity, filter;
	// transition-duration: 0.15s;
	// transition-timing-function: linear;

	&:hover {

		.hamburger {
			opacity: 0.75;
		}
	}
}

.hamburger {
	display: inline-block;
	height: $hamburger-height;
	position: relative;
	width: $hamburger-width;
}

.hamburger-inner {
	display: block;
	margin-top: $hamburger-border / -2;
	top: 50%;

	&,
	&::before,
	&::after {
		background-color: $hamburger-border-color;
		height: $hamburger-border;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
		width: $hamburger-width;
	}

	&::before,
	&::after {
		content: "";
		display: block;
	}

	&::before {
		top: ($hamburger-height - $hamburger-border) / 2 * -1;
	}

	&::after {
		bottom: ($hamburger-height - $hamburger-border) / 2 * -1;
	}
}

// Animation
.hamburger-box {

	.hamburger-inner {
		transition-duration: 0.2s;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

		&::before,
		&::after {
			transition-duration: 0s;
			transition-delay: 0.1s;
			transition-timing-function: linear;
		}

		&::before {
			transition-property: top, opacity;
		}

		&::after {
			transition-property: bottom, transform;
		}
	}

	&.is-active {
		background: none;

		.hamburger-inner {
			transform: rotate(765deg);
			transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

			&::before,
			&::after {
				transition-delay: 0s;
			}

			&::before {
				top: 0;
				opacity: 0;
			}

			&::after {
				bottom: 0;
				transform: rotate(90deg);
			}
		}
	}
}
