// Color
$default-font-color: #333;

$flamingo: #eb5256;
$navy: #34495e;
$mid-night: #172028;

$light-gray: #fafafa;

// Fonts
$hiragino: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$noto: "Noto Sans CJK JP", $hiragino;

// Breakpoints
$wide-menu: 590px;

$desktop: 960px;
