$navy: #34495e;

$light-gray: #fafafa;

// Fonts
$hiragino: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$noto: "Noto Sans CJK JP", $hiragino;
