@charset "UTF-8";
@import "dojoconjapan2017/foundation/variables";
@import "bourbon/bourbon";
@import "neat/neat";
@import "dojoconjapan2017/foundation/reset";
@import "dojoconjapan2017/foundation/fonts";
@import "dojoconjapan2017/foundation/base";
@import "dojoconjapan2017/component/button";
@import "dojoconjapan2017/component/hamburger";
@import "dojoconjapan2017/component/sliding-panel";
@import "dojoconjapan2017/component/slick";
@import "dojoconjapan2017/component/ribon";
@import "dojoconjapan2017/component/embed-container";
@import "dojoconjapan2017/component/merlon";
@import "dojoconjapan2017/layout/header";
@import "dojoconjapan2017/layout/footer";
@import "dojoconjapan2017/layout/hero";
@import "dojoconjapan2017/layout/front-page-content";
@import "dojoconjapan2017/layout/single";
@import "dojoconjapan2017/layout/page";
@import "dojoconjapan2017/layout/entry-content";
@import "dojoconjapan2017/project/about";
@import "dojoconjapan2017/project/posts";
@import "dojoconjapan2017/project/access";
@import "dojoconjapan2017/project/speakers";
@import "dojoconjapan2017/project/sponsors";
@import "dojoconjapan2017/project/sessions";
@import "dojoconjapan2017/project/workshops";
@import "dojoconjapan2017/project/contact";
@import "dojoconjapan2017/project/staff";
@import "dojoconjapan2017/project/sns";
@import "dojoconjapan2017/utilities/utilities";

// Addtional CSS
@media (min-width: 640px) {

	.wp-image-21 {
		width: 217px;
	}
}

.entry-content {

	.speaker-avatar-box {
		margin-right: -20px;

		.flex-item {
			padding-right: 20px;
			margin-bottom: 1.75em;
		}
	}
}
