.page-about {
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;

	.page-content {
		background: $flamingo;
		color: $white;
		padding-top: 20px;
		padding-bottom: 60px;
		position: relative;

		@media (min-width: $desktop) {
			background: none;
			margin-top: calc(-55px - 7.5vw);
			padding-top: calc(15px + 7.5vw);
		}

		@media (min-width: $desktop-l) {
			margin-top: -55 - 73.5px;
			padding-top: 15 + 73.5px;
		}

		&::before,
		&::after {
			background: $flamingo;
			content: "";
			display: block;
			height: 200vw;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			width: 400vw;
			z-index: -1;

			@media (min-width: $desktop) {
				left: 0;
				transform: none;
				width: 100%;
			}
		}

		&::before {
			border-radius: 200vw 200vw 0 0;
			top: -35vw;

			@media (min-width: $desktop) {
				background: url(../images/coderdojo-icon-flamingo.svg) no-repeat center center;
				background-size: cover;
				border-radius: 0;
				height: calc(100% - 55px - 7.5vw + 240px + 8.5vw);
				top: calc(55px + 7.5vw - 240px);
			}

			@media (min-width: $desktop-l) {
				height: calc(100% - 55px - 73.5px + 240px + 15.5vw);
				top: 55 + 73.5 - 240px;
			}
		}

		&::after {
			border-radius: 0 0 200vw 200vw;
			bottom: -8vw;

			@media (min-width: $desktop) {
				background: $night-sky;
				border-radius: 0;
				bottom: 0;
				height: 100%;
				top: 0;
				z-index: -5;
			}
		}
	}

	.entry-content {
		font-size: 14px;
		font-weight: 300;

		@media (min-width: $tablet-s) {
			font-size: 16px;
		}

		h2 {
			background: url(../images/about-h2-border.svg) no-repeat center bottom;
			background-size: 114px 1.5px;
			font-size: 20px;
			font-weight: 500;
			margin: 35px 0 30px;
			padding-bottom: 15px;
			text-align: center;

			@media (min-width: $tablet-s) {
				font-size: 23px;
				background-size: 171px 2px;
				padding-bottom: 25px;
			}

		}

		.japan-map {
			margin-left: -20px;
			margin-right: -20px;
			margin-bottom: 0;
			text-align: center;
			width: auto;

			@media (min-width: $desktop-s) {
				margin-left: -100px;
				margin-right: 0;
				padding-top: 20px;
			}

			+ h2 {
				margin-top: 0;
			}
		}

		img {

			&.about-coderdojo-01 {
				width: 160px;

				@media (min-width: $tablet-s) {
					width: 263px;
				}
			}

			&.about-coderdojo {
				border-radius: 50%;
				overflow: hidden;
				width: 140px;

				@media (min-width: $tablet-s) {
					width: 233px;
				}
			}
		}

		.about-coderdojo-logo-outer {
			@include size(140px);
			background: $white;
			border-radius: 50%;
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
			position: relative;

			@media (min-width: $tablet-s) {
				@include size(233px);
			}

			@media (min-width: $desktop-s) {
				margin-left: 0;
			}

			img {
				@include position(absolute, 0);
				margin: auto;

				&.about-coderdojo-logo {
					height: 30px;
					width: auto;

					@media (min-width: $tablet-s) {
						height: 50px;
					}
				}
			}
		}

		.flex {

			h2 {

				@media (min-width: $desktop-s) {
					background-position: left bottom;
					text-align: left;
				}
			}

			&.section-2-2,
			&.section-2-3,
			&.section-2-4 {
				margin: 1.75em 0;

				@media (min-width: $desktop-s) {
					margin: 50px 0;
				}
			}

			.flex-item {

				&.image {

					p {
						margin-top: 1.75em;

						@media (min-width: $desktop-s) {
							margin-top: 0;
						}
					}
				}
			}

			@media (min-width: $desktop-s) {

				&.section-1 {

					.image,
					.text {
						width: 460px;
					}

					.text {
						margin-left: 20px;
					}
				}

				&[class*="section-2"] {
					align-items: center;

					.text {
						width: 628px;
					}

					.image {
						text-align: right;
						width: 312px;

						img {
							display: inline-block;
						}
					}
				}

				&.section-2-1 {
					align-items: flex-end;
					margin-top: -50px;
				}

				&.section-2-2,
				&.section-2-4 {
					flex-direction: row-reverse;

					.image {
						text-align: left;
					}
				}
			}
		}
	}

	.dojocon-japan-2016-archive {
		border-bottom: 2px dashed $white;
		border-top: 2px dashed $white;
		margin-top: 60px;
		padding-bottom: 30px;

		@media (min-width: $tablet-s) {
			border-bottom-width: 3px;
			border-top-width: 3px;
			margin-top: 120px;
			padding-bottom: 60px;
		}

		@media (min-width: $desktop-s) {
			margin-top: 135px;
			padding-bottom: 75px;
		}
	}

	.dojocon-japan-2016-archive-title {
		$ribon-height: 24px;
		$ribon-border-width: 2px;
		$left-ribon-height: $ribon-height;
		$left-ribon-width: 43px;
		$left-ribon-border-width: $ribon-border-width;
		$right-ribon-height: $ribon-height;
		$right-ribon-width: 240px;
		$right-ribon-border-width: $ribon-border-width;
		$text-width: 230px;

		$ribon: (
			color: $flamingo,
			height: $left-ribon-height,
			width: $left-ribon-width,
			border-color: $white,
			border-width: $left-ribon-border-width,
			direction: left,
		);
		@include ribon-bordered($ribon);
		font-size: 14px;
		font-weight: 700;
		left: 5px;
		margin: -20px auto 30px;
		width: $text-width;
		z-index: 5;

		> span {
			$ribon: (
				color: $flamingo,
				height: $right-ribon-height,
				width: $right-ribon-width,
				border-color: $white,
				border-width: $right-ribon-border-width,
			);
			@include ribon-bordered($ribon);
			display: block;
			line-height: $right-ribon-height - 2px;
			margin: auto;
			padding-bottom: 2px;
			position: relative;
			text-align: center;
			z-index: 5;
		}

		&::before {
			top: 10px;
			right: $text-width - $left-ribon-width + 25px;
			bottom: auto;
			left: auto;
		}

		&::after {
			top: $left-ribon-border-width + 10px;
			right: $text-width - $left-ribon-width + $left-ribon-border-width + 25px;
			bottom: auto;
			left: auto;
		}

		@media (min-width: $tablet-s) {
			$ribon-height: 48px;
			$ribon-border-width: 3px;
			$left-ribon-height: $ribon-height;
			$left-ribon-width: 85px;
			$left-ribon-border-width: $ribon-border-width;
			$right-ribon-height: $ribon-height;
			$right-ribon-width: 440px;
			$right-ribon-border-width: $ribon-border-width;
			$text-width: 430px;

			$ribon: (
				color: $flamingo,
				height: $left-ribon-height,
				width: $left-ribon-width,
				border-color: $white,
				border-width: $left-ribon-border-width,
				direction: left,
			);
			@include ribon-bordered($ribon);
			font-size: 23px;
			margin-top: -33px;
			margin-bottom: 60px;
			width: $text-width;

			> span {
				$ribon: (
					color: $flamingo,
					height: $right-ribon-height,
					width: $right-ribon-width,
					border-color: $white,
					border-width: $right-ribon-border-width,
				);
				@include ribon-bordered($ribon);
				line-height: $right-ribon-height - 4px;
				padding-bottom: 4px;
			}

			&::before {
				top: 20px;
				right: $text-width - $left-ribon-width + 55px;
				bottom: auto;
				left: auto;
			}

			&::after {
				top: $left-ribon-border-width + 20px;
				right: $text-width - $left-ribon-width + $left-ribon-border-width + 55px;
				bottom: auto;
				left: auto;
			}
		}
	}

	.dojocon-japan-2016-archive-photo-title,
	.dojocon-japan-2016-archive-movie-title {
		font-size: 18px;
		font-weight: 500;
		margin: 20px auto 5px;
		text-align: center;
		text-transform: uppercase;

		@media (min-width: $tablet-s) {
			font-size: 21px;
			margin: 30px auto 15px;
		}

		@media (min-width: $desktop-s) {
			margin-top: 60px;
		}

		&::before {
			display: block;
			height: auto;
			line-height: 1;
			margin: auto;
			width: 40px;

			@media (min-width: $tablet-s) {
				margin-bottom: 10px;
				width: 50px;
			}
		}
	}

	.dojocon-japan-2016-archive-photo-title {
		position: relative;

		&::before {
			content: url(../images/icon-photo.svg);
		}

		.button {
			background: transparent;
			border: 1px solid $white;
			bottom: 0;
			color: $white;
			display: block;
			font-size: 14px;
			margin: 0 auto 10px;
			padding: 1px 10px;
			width: 80px;

			@media (min-width: $tablet-s) {
				bottom: 0;
				left: 50%;
				margin: 0 0 4px 4em;
				position: absolute;
			}

			&:hover {
				opacity: 0.75;
			}
		}
	}

	.dojocon-japan-2016-archive-movie-title {

		&::before {
			content: url(../images/icon-movie.svg);
		}
	}

	.dojocon-japan-2016-archive-photos {
		overflow: hidden;

		.slick-list {
			padding-left: 20px !important;
			padding-right: 20px !important;

			@media (min-width: $desktop-s) {
				padding-left: calc(50% - 470px) !important;
				padding-right: calc(50% - 470px) !important;
			}
		}

		.slick-prev,
		.slick-next {
			background: rgba($navy, 0.8) no-repeat center center;
			border-radius: 0;
			bottom: 0;
			font-size: 0;
			height: 110%;
			overflow: hidden;
			position: absolute;
			padding: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			z-index: 99;

			@media (min-width: $desktop-s) {
				width: calc(50% - 470px);
			}

			&::before {
				@include size(50%, 100%);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				content: "";
				display: block;
				margin: auto;
				max-width: 16px;
				top: 0;
			}

			&:hover {

				&::before {
					opacity: 0.6;
				}
			}
		}

		.slick-prev {
			left: 0;

			&::before {
				background-image: url(../images/slick-arrow-left.svg);

				@media (min-width: 1052px) {
					position: absolute;
					right: 20px;
				}
			}
		}

		.slick-next {
			right: 0;

			&::before {
				background-image: url(../images/slick-arrow-right.svg);

				@media (min-width: 1052px) {
					left: 20px;
					position: absolute;
				}
			}
		}
	}

	.dojocon-japan-2016-archive-movie-outer {
		margin: auto;
		max-width: 980px;
		padding: 0 20px;
	}

	.dojocon-japan-2016-archive-movie {
		@include embed-container(56.38%);
	}

	.outline-outer {
		max-width: 540px;

		h2 {

			@media (min-width: $desktop-s) {
				margin-top: 85px;
				margin-bottom: 65px;
			}
		}
	}

	.outline {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 1.25em;
		text-align: center;

		@media (min-width: $tablet-s) {
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
		}

		dt {
			@include ribon($white, 28px);
			color: $flamingo;
			margin: 0 auto 0.5em;
			width: 90px;

			@media (min-width: $tablet-s) {
				margin: 0;
			}
		}

		dd {

			@media (min-width: $tablet-s) {
				text-align: left;
				margin-left: 25px;
				margin-top: 1em;
				width: calc(100% - 90px - 25px);
			}

			&:first-of-type {

				@media (min-width: $tablet-s) {
					margin-top: 0;
				}
			}

			+ dd {

				@media (min-width: $tablet-s) {
					margin-left: 25px + 90px;
					margin-top: 0;
				}
			}

			+ dt {
				margin-top: 0.75em;

				@media (min-width: $tablet-s) {
					margin-top: 1em;
				}
			}
		}
	}

	.outline-note {
		font-size: 12px;

		@media (min-width: $tablet-s) {
			font-size: 14px;
		}

		li {
			text-indent: -1.5em;
			padding-left: 1.5em;

			&::before {
				content: "※";
				margin-right: 0.5em;
			}
		}
	}

	.outline-entry-outer {
		position: relative;
		margin: 35px auto;
		width: 180px;

		@media (min-width: $tablet-s) {
			width: 210px;
		}

		&::after,
		&::before {
			display: block;
			height: 55px;
			transform: translateY(-50%);
			width: 21px;

			@media (min-width: $tablet-s) {
				transform: scale(1.15) translateY(-50%);
				transform-origin: top;
			}
		}

		&::before {
			@include position(absolute, 50% calc(100% + 20px) auto auto);
			content: url(../images/eye-catcher-l.svg);
		}

		&::after {
			@include position(absolute, 50% auto auto calc(100% + 20px));
			content: url(../images/eye-catcher-r.svg);
		}

		.outline-entry {
			display: block;
			font-size: 18px;
			font-weight: 700;
			padding-top: 3px;
			padding-bottom: 3px;
			text-indent: -0.5em;
			text-transform: uppercase;

			@media (min-width: $tablet-s) {
				font-size: 21px;
			}

			&::before {
				content: "▶︎";
				font-size: 12px;
				vertical-align: 2px;
				margin-right: 18px;

				@media (min-width: $tablet-s) {
					font-size: 14px;
				}
			}
		}
	}

	.background-image {
		position: relative;
		overflow: hidden;
		text-align: center;
		z-index: -10;

		img {
			width: 100%;
		}
	}
}
