section.about {
	background: url(../images/hero.png) no-repeat center top;
	background-color: $flamingo;
	background-size: contain;
	padding-top: 343.75%;

	@media (min-width: $tablet) {
		background-image: url(../images/hero-1500.png);
		background-size: auto;
	}
}