.page-about {
	background: $flamingo;
	color: $white;
	padding-top: 20px;
	padding-bottom: 0;

	.entry-content {
		font-size: 14px;
		font-weight: 300;

		@media (min-width: $tablet) {
			font-size: 16px;
		}

		h2 {
			background: url(../images/about-h2-border.svg) no-repeat center bottom;
			background-size: 114px 1.5px;
			font-size: 20px;
			font-weight: 500;
			margin: 35px 0 30px;
			padding-bottom: 15px;
			text-align: center;

			@media (min-width: $tablet) {
				font-size: 23px;
				background-size: 171px 2px;
				padding-bottom: 25px;
			}
		}

		img {

			&.about-coderdojo-01 {
				width: 160px;
			}

			&.about-coderdojo {
				border-radius: 50%;
				overflow: hidden;
				width: 140px;
			}

			&.about-coderdojo-logo {
				height: 30px;
				width: auto;
			}
		}

		.japan-map {
			margin-left: -20px;
			margin-right: -20px;
			margin-bottom: 0;
			text-align: center;
			width: auto;

			+ h2 {
				margin-top: 0;
			}
		}

		.about-coderdojo-logo-outer {
			@include size(140px);
			background: $white;
			border-radius: 50%;
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
			position: relative;

			img {
				@include position(absolute, 0);
				margin: auto;
			}
		}
	}

	.dojocon-japan-2016-archive {
		border-bottom: 2px dashed $white;
		border-top: 2px dashed $white;
		margin: 60px -20px 0;
		padding: 0 20px 30px;

		@media (min-width: $tablet) {
			border-bottom-width: 3px;
			border-top-width: 3px;
		}

		.dojocon-japan-2016-archive-photos {
			margin: 0 -20px;
		}
	}

	.dojocon-japan-2016-archive-title {
		$ribon-height: 24px;
		$ribon-border-width: 2px;
		$left-ribon-height: $ribon-height;
		$left-ribon-width: 43px;
		$left-ribon-border-width: $ribon-border-width;
		$right-ribon-height: $ribon-height;
		$right-ribon-width: 240px;
		$right-ribon-border-width: $ribon-border-width;
		$text-width: 230px;

		$ribon: (
			color: $flamingo,
			height: $left-ribon-height,
			width: $left-ribon-width,
			border-color: $white,
			border-width: $left-ribon-border-width,
			direction: left,
		);
		@include ribon-bordered($ribon);
		font-size: 14px;
		font-weight: 700;
		left: 5px;
		margin: -20px auto 30px;
		width: $text-width;
		z-index: 5;

		> span {
			$ribon: (
				color: $flamingo,
				height: $right-ribon-height,
				width: $right-ribon-width,
				border-color: $white,
				border-width: $right-ribon-border-width,
			);
			@include ribon-bordered($ribon);
			display: block;
			line-height: $right-ribon-height - 2px;
			margin: auto;
			padding-bottom: 2px;
			position: relative;
			text-align: center;
			z-index: 5;
		}

		&::before {
			top: 10px;
			right: $text-width - $left-ribon-width + 25px;
			bottom: auto;
			left: auto;
		}

		&::after {
			top: 12px;
			right: $text-width - $left-ribon-width + 25 + $left-ribon-border-width;
			bottom: auto;
			left: auto;
		}

		@media (min-width: $tablet) {
			$ribon-height: 48px;
			$ribon-border-width: 3px;
			$left-ribon-height: $ribon-height;
			$left-ribon-width: 85px;
			$left-ribon-border-width: $ribon-border-width;
			$right-ribon-height: $ribon-height;
			$right-ribon-width: 440px;
			$right-ribon-border-width: $ribon-border-width;
			$text-width: 430px;

			$ribon: (
				color: $flamingo,
				height: $left-ribon-height,
				width: $left-ribon-width,
				border-color: $white,
				border-width: $left-ribon-border-width,
				direction: left,
			);
			@include ribon-bordered($ribon);
			font-size: 23px;
			margin-top: -33px;
			margin-bottom: 60px;
			width: $text-width;

			> span {
				$ribon: (
					color: $flamingo,
					height: $right-ribon-height,
					width: $right-ribon-width,
					border-color: $white,
					border-width: $right-ribon-border-width,
				);
				@include ribon-bordered($ribon);
				line-height: 44px;
				padding-bottom: 4px;
			}

			&::before {
				top: 20px;
				right: $text-width - $left-ribon-width + 55px;
				bottom: auto;
				left: auto;
			}

			&::after {
				top: $left-ribon-border-width + 20px;
				right: $text-width - $left-ribon-width + $left-ribon-border-width + 55px;
				bottom: auto;
				left: auto;
			}
		}
	}

	.dojocon-japan-2016-archive-photo-title,
	.dojocon-japan-2016-archive-movie-title {
		font-size: 18px;
		font-weight: 500;
		margin: 20px auto 5px;
		text-align: center;
		text-transform: uppercase;

		&::before {
			display: block;
			height: auto;
			line-height: 1;
			margin: auto;
			width: 40px;
		}
	}

	.dojocon-japan-2016-archive-photo-title {

		&::before {
			content: url(../images/icon-photo.svg);
		}
	}

	.dojocon-japan-2016-archive-movie-title {

		&::before {
			content: url(../images/icon-movie.svg);
		}
	}

	.dojocon-japan-2016-archive-photos {

		.slick-prev,
		.slick-next {
			background: rgba($navy, 0.8) no-repeat center center;
			border-radius: 0;
			bottom: 0;
			font-size: 0;
			overflow: hidden;
			position: absolute;
			padding: 0;
			top: 0;
			width: 20px;
			z-index: 99;

			&::before {
				background-repeat: no-repeat;
				background-size: contain;
				content: "";
				display: block;
				height: 17px;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 10px;
			}
		}

		.slick-prev {
			left: 0;

			&::before {
				background-image: url(../images/slick-arrow-left.svg);
			}
		}

		.slick-next {
			right: 0;

			&::before {
				background-image: url(../images/slick-arrow-right.svg);

			}
		}

		// .slick-slide {
		// 	position: relative;

		// 	&::before {
		// 		background: rgba($navy, 0.8);
		// 		content: "";
		// 		display: block;
		// 		height: 100%;
		// 		left: 0;
		// 		position: absolute;
		// 		top: 0;
		// 		// transition: all 0.3s;
		// 		width: 100%;
		// 	}

		// 	&.slick-current {

		// 		&::before {
		// 			content: none;
		// 			// background: rgba($navy, 0);
		// 		}
		// 	}
		// }
	}

	.dojocon-japan-2016-archive-movie {
		@include embed-container(56.38%);
	}

	.outline {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 1.25em;
		text-align: center;

		dt {
			@include ribon($white, 28px);
			color: $flamingo;
			margin: 0 auto 0.5em;
			width: 90px;
		}

		dd {

			+ dt {
				margin-top: 0.75em;
			}
		}
	}

	.outline-note {
		font-size: 12px;

		li {
			text-indent: -1.5em;
			padding-left: 1.5em;

			&::before {
				content: "※";
				margin-right: 0.5em;
			}
		}
	}

	.outline-entry-outer {
		position: relative;
		margin: 35px auto;
		width: 180px;

		&::before {
			@include position(absolute, 50% calc(100% + 20px) auto auto);
			content: url(../images/eye-catcher-l.svg);
			display: block;
			height: 55px;
			transform: translateY(-50%);
			width: 21px;
		}

		&::after {
			@include position(absolute, 50% auto auto calc(100% + 20px));
			content: url(../images/eye-catcher-r.svg);
			display: block;
			height: 55px;
			transform: translateY(-50%);
			width: 21px;
		}

		.outline-entry {
			display: block;
			font-size: 18px;
			font-weight: 700;
			padding-top: 3px;
			padding-bottom: 3px;
			text-indent: -0.5em;
			text-transform: uppercase;

			&::before {
				content: "▶︎";
				font-size: 12px;
				vertical-align: 2px;
				margin-right: 18px;
			}
		}
	}

	.background-image {
		margin-top: 60px;
		position: relative;
		overflow: hidden;

		&::before {
			background: $flamingo;
			border-radius: 50%;
			bottom: 75%;
			content: "";
			display: block;
			height: 400vw;
			left: 50%;
			position: absolute;
			overflow: hidden;
			transform: translateX(-50%);
			width: 400vw;
		}
	}
}
