.page-access {
	color: $flamingo;

	.entry-content {
		font-size: 14px;
		text-align: center;

		figure {
			margin-bottom: 1.75em;
		}

		h2 {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 0;

			+ p {
				margin-top: 0;
			}

			&.access-icon-venue,
			&.access-icon-pin,
			&.access-icon-train {

				&::before {
					display: block;
					line-height: 1;
					margin: 0 auto 10px;
					width: 54px;
				}
			}

			&.access-icon-venue {

				&::before {
					content: url(../images/access-icon-venue.svg);
				}

			}

			&.access-icon-pin {

				&::before {
					content: url(../images/access-icon-pin.svg);
				}

			}

			&.access-icon-train {

				&::before {
					content: url(../images/access-icon-train.svg);
				}

			}
		}
	}
}
