.page-access {
	color: $flamingo;

	.entry-content {
		font-size: 14px;
		text-align: center;

		@media (min-width: $tablet-s) {
			font-size: 16px;
		}

		@media (min-width: $desktop-s) {
			text-align: left;

			.access-info-box {

				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;

				.venue-image {
					margin-left: 20px;
					width: 447px;
				}

				.access-info {
					padding-left: 90px;
				}
			}

			p + h2 {
				margin-top: 30px;
			}
		}

		figure {
			margin-bottom: 1.75em;
		}

		h2 {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 0;

			+ p {
				margin-top: 0;
			}

			&.access-icon-venue,
			&.access-icon-pin,
			&.access-icon-train {

				@media (min-width: $desktop-s) {
					position: relative;
				}

				&::before {
					@include size(54px);
					background-repeat: no-repeat;
					background-size: contain;
					content: "";
					display: block;
					line-height: 1;
					margin: 0 auto 10px;

					@media (min-width: $tablet-s) {
						@include size(67px);
					}

					@media (min-width: $desktop-s) {
						left: -90px;
						margin: 0;
						position: absolute;
					}
				}
			}

			&.access-icon-venue {

				&::before {
					background-image: url(../images/access-icon-venue.svg);
				}

			}

			&.access-icon-pin {

				&::before {
					background-image: url(../images/access-icon-pin.svg);
				}

			}

			&.access-icon-train {

				&::before {
					background-image: url(../images/access-icon-train.svg);
				}

			}
		}
	}
}
