.page-posts {
	background: $navy;
	color: $white;

	.posts {
		display: flex;
		flex-flow: row wrap;
		margin: 0 20px;

		> li {
			width: 48%;
			margin-bottom: 15px;

			&:nth-child(even) {
				margin-left: 4%;
			}

			a {
				color: $white;
				display: block;
				text-decoration: none;

				&:hover {

					h2 {
						text-decoration: none;
					}
				}
			}

			time {
				font-size: 14px;
			}

			h2 {
				font-size: 14px;
				text-decoration: underline;
			}
		}
	}
}
