.page-posts {
	background: $navy;
	color: $white;

	.posts {
		display: flex;
		flex-flow: row wrap;
		margin: auto;
		max-width: 980px;
		padding: 0 20px;

		> li {
			font-size: 14px;
			width: 48%;
			margin-bottom: 1.5em;

			@media (min-width: $tablet-s) {
				font-size: 16px;
			}

			&:nth-child(even) {
				margin-left: 4%;
			}

			a {
				color: $white;
				display: block;
				text-decoration: none;

				&:hover {

					.post-thumbnail {

						img {
							opacity: 0.8;
						}
					}

					h2 {
						text-decoration: none;
					}
				}
			}

			.post-thumbnail {
				background: $white;
			}

			time {
				display: block;
				margin-top: 0.4em;
			}

			h2 {
				text-decoration: underline;

				@media (min-width: $tablet-s) {
					font-weight: 700;
				}
			}
		}
	}
}
