.page-staff + .page-sns {
	padding-top: 0;
}

.page-sns {
	color: $navy;

	.page-title {

		+ .follow-us,
		+ .follow-us + .page-excerpt {
			font-family: $pixelmplus10;
			font-size: 14px;
			text-align: center;

			@media (min-width: $tablet-s) {
				font-size: 16px;
			}
		}

		+ .follow-us {
			border: 2px solid $navy;
			border-radius: 4px;
			line-height: 21px;
			margin: 45px auto 10px;
			position: relative;
			text-transform: uppercase;
			width: 110px;

			@media (min-width: $tablet-s) {
				border: 0;
				font-size: 21px;
				margin-top: 0;
				width: 256px;

				.follow,
				.us {
					border: 2px solid $navy;
					border-radius: 4px;
					display: block;
					line-height: 28px;
					margin-top: -42px;
					position: absolute;
					width: 110px;

					&::before {
						@include size(0);
						border: 7px solid $navy;
						border-bottom-color: transparent;
						border-top-color: transparent;
						content: "";
						display: block;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
				}

				.follow {
					right: 100%;

					&::before {
						border-right: 0;
						left: 100%;
					}
				}

				.us {
					left: 100%;

					&::before {
						border-left: 0;
						right: 100%;
					}
				}
			}

			&::before {
				@include size(0);
				border: 7px solid $navy;
				border-left-color: transparent;
				border-right-color: transparent;
				border-top: 0;
				bottom: 100%;
				content: "";
				display: block;
				left: 50%;
				position: absolute;
				transform: translateX(-50%);

				@media (min-width: $tablet-s) {
					content: none;
				}
			}
		}
	}

	.fb-tw-widgets {
		margin: 0 -20px -20px;
		padding: 0 10px;

		@media (min-width: $tablet) {
			display: flex;
			flex-flow: row wrap;
			margin-bottom: -20px;
		}

		li {
			max-width: 500px;
			margin: auto;

			@media (min-width: $tablet) {
				margin: 0 10px 20px;
				width: calc(50% - 20px);
			}

			+ li {
				margin-top: 20px;

				@media (min-width: $tablet) {
					margin-top: 0;
				}

				&.tw-widget {
					border: 1px solid #e2e9ec;
				}
			}

			iframe {
				vertical-align: top;
			}
		}
	}
}
