.page-sponsors {
	color: $navy;
	padding-bottom: calc(55px + 8.4375vw); // 82px

	@media (min-width: 36 / 12 * 320px) {
		padding-bottom: 100 + 36px;
	}

	h2 {
		background: rgba($navy, 0.2);
		border-radius: 40px;
		font-size: 18px;
		margin: auto;
		padding: 4.5px 0;
		text-align: center;
		width: 260px;
	}

	[class*="-sponsors"] {
		display: flex;
		flex-flow: row wrap;
		margin: 20px auto;
		max-width: 970px;
		padding: 15px;

		> li {
			max-width: 470px;
			padding: 5px;

			a {

				&:hover {

					img {
						opacity: 0.8;
					}
				}
			}
		}
	}

	.gold-sponsors {

		> li {
			width: 100%;

			@media (min-width: $desktop-s) {
				width: 1 / 2 * 100%;
			}
		}
	}

	.silver-sponsors {

		> li {
			width: 1 / 2 * 100%;

			@media (min-width: $desktop-s) {
				width: 1 / 3 * 100%;
			}
		}
	}

	.bronze-sponsors {

		> li {
			width: 1 / 3 * 100%;

			@media (min-width: $tablet) {
				width: 1 / 4 * 100%;
			}

			@media (min-width: $desktop-s) {
				width: 1 / 5 * 100%;
			}
		}
	}

	.inkind-sponsors {

		> li {
			width: 1 / 4 * 100%;

			@media (min-width: $tablet) {
				width: 1 / 5 * 100%;
			}

			@media (min-width: $desktop-s) {
				width: 1 / 6 * 100%;
			}
		}
	}

	.individual-sponsors {
		display: block;
		font-size: 14px;
		padding-right: 10px;

		> li {
			display: inline;
			padding: 0;

			&::after {
				content: ",";
				margin-right: 10px;
			}

			&:last-child {

				&::after {
					content: none;
				}
			}
		}
	}

	.sponsorship.button {
		display: block;
		margin:  40px auto 0;
		max-width: 280px;
		padding-bottom: 18px;
		padding-left: 70px;
		padding-top: 18px;
		position: relative;
		text-align: left;

		@media (min-width: $tablet-s) {
			font-size: 14px;
			margin-top: 60px;
			max-width: 500px;
			padding: 4px 1em;
			text-align: center;

			br {
				display: none;
			}
		}

		&::before {
			font-family: $noto;
			font-weight: 500;
			content: "▶︎";
			left: 35px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			@media (min-width: $tablet-s) {
				left: auto;
				margin-right: 1em;
				position: relative;
				top: auto;
				transform: none;
			}
		}
	}
}
