.page-sponsors {
	color: $navy;
	padding-bottom: 80px;

	h2 {
		background: rgba($navy, 0.2);
		border-radius: 40px;
		font-size: 18px;
		margin: auto;
		padding: 4.5px 0;
		text-align: center;
		width: 260px;
	}

	[class*="-sponsors"] {
		display: flex;
		flex-flow: row wrap;
		padding: 15px;

		> li {
			padding: 5px;
		}
	}

	.gold-sponsors {

		> li {
			width: 100%;
		}
	}

	.silver-sponsors {

		> li {
			width: 50%;
		}
	}

	.bronze-sponsors {

		> li {
			width: 33.33%;
		}
	}

	.inkind-sponsors {

		> li {
			width: 25%;
		}
	}

	.sponsorship.button {
		display: block;
		padding-bottom: 18px;
		padding-left: 75px;
		padding-top: 18px;
		position: relative;
		text-align: left;

		&::before {
			content: "▶︎";
			left: 40px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
