$time-column-width: 50px;

.page,
.page-template-timetable {

	.timetable {
		display: flex;

		.column {
			min-width: 200px;
			margin-right: 5px;
			width: 200px;

			ol {
				list-style: none;
				margin: 0;
				padding: 0;

				> li {
					background: #eee;
					margin: 0 0 5px;
					padding: 14px 12px;
				}
			}

			h2 {
				background: $navy;
				border-bottom: 5px solid $white;
				color: $white;
				font-size: 14px;
				font-weight: 700;
				height: 40px;
				line-height: 35px;
				margin: 0;
				padding: 0;
				text-align: center;
			}

			h3 {
				border: none;
				font-size: 14px;
				font-weight: 700;
				line-height: 1.5;
				margin: 0 0 5px;
				padding: 0;
			}

			p {
				font-size: 12px;
				margin: 0;
			}

			a {
				color: inherit;
			}

			.category {
				background: $white;
				font-size: 13px;
				height: 20px;
				line-height: 20px;
				margin-bottom: 10px;
				text-align: center;
			}

			.label {
				background: $navy;
				border-radius: 26px;
				color: $white;
				display: inline-block;
				margin-top: 10px;
				padding: 0.5px 1.5em 1px;
			}
		}

		.time-column {
			background: $white;
			border-right: 5px solid $white;
			min-width: $time-column-width + 5px;
			width: $time-column-width + 5px;

			.time {

				> li {
					background: $light-gray;
					font-size: 12px;
					font-weight: 700;
					height: 30 * $timetable-height-per-min - 5px;
					padding-left: 0;
					padding-right: 0;
					text-align: center;
				}
			}
		}

		.foyer-column {
			min-width: 610px;
			width: 610px;
			display: flex;
			flex-flow: row wrap;

			h2 {
				width: 100%;
			}

			> ol {
				min-width: 200px;
				width: 200px;

				+ ol {
					margin-left: 5px;
				}
			}
		}
	}
}

.table-outermost {
	overflow: hidden;
}

.table-scroll-box {
	position: relative;

	.timetable {
		height: calc(100vh - 350px);
		margin-left: $time-column-width + 5px;
		overflow: auto;

		.time-column {
			left: 0;
			position: absolute;
			top: 0;
		}
	}
}
