$time-column-width: 50px;

.page,
.page-template-timetable {

	.timetable-tabs {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		list-style: none !important;
		margin: 0 -5px 30px 0 !important;
		padding: 0 !important;

		> li {
			background: rgba($navy, 0.15);
			cursor: pointer;
			font-size: 12px;
			font-weight: 700;
			margin: 0 5px 5px 0;
			padding: 5px 0 4px;
			text-align: center;
			width: calc(33.33% - 5px);

			@media (min-width: $tablet-s) {
				font-size: 14px;
				padding: 3px 0;
				width: calc(20% - 5px);

				&.all {
					width: calc(40% - 5px);
				}
			}

			&.active {
				background: $flamingo;
			}
		}
	}

	.timetable {
		display: flex;

		.column {
			min-width: 200px;
			margin-right: 5px;
			width: 200px;

			ol {
				list-style: none;
				margin: 0;
				padding: 0;

				> li {
					background: #eee;
					margin: 0 0 5px;
					padding: 14px 12px;
				}
			}

			h2 {
				background: $navy;
				border-bottom: 5px solid $white;
				color: $white;
				font-size: 14px;
				font-weight: 700;
				height: 40px;
				line-height: 35px;
				margin: 0;
				padding: 0;
				text-align: center;
			}

			h3 {
				border: none;
				font-size: 14px;
				font-weight: 700;
				line-height: 1.5;
				margin: 0 0 5px;
				padding: 0;

				// @media (min-width: $tablet-s) {
				// 	font-size: 16px;
				// }
			}

			p {
				font-size: 12px;
				margin: 0 0 5px;
			}

			a {
				color: inherit;
			}

			.category {
				background: $white;
				font-size: 13px;
				height: 20px;
				line-height: 20px;
				margin-bottom: 10px;
				text-align: center;
			}

			.label {
				background: $navy;
				border-radius: 26px;
				color: $white;
				display: inline-block;
				margin: 10px 0 0;
				padding: 0.5px 1.5em 1px;
				position: relative;

				// @media (min-width: $tablet-s) {
				// 	font-size: 14px;
				// 	padding-bottom: 2px;
				// }
			}

			.label-entry {
				background: $flamingo;
			}

			.label-for_ninja {
				padding-left: 55px;

				// @media (min-width: $tablet-s) {
				// 	padding-left: 62px;
				// }

				&::before {
					@include size(42px, 30px);
					background: url(../images/8-bit-fuma.svg) no-repeat center center;
					background-size: 42px 30px;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);

					// @media (min-width: $tablet-s) {
					// 	@include size(49px, 35px);
					// 	background-size: 49px 35px;
					// }
				}
			}
		}

		.time-column {
			background: $white;
			border-right: 5px solid $white;
			min-width: $time-column-width + 5px;
			width: $time-column-width + 5px;

			.time {

				> li {
					background: $light-gray;
					font-size: 12px;
					font-weight: 700;
					height: 30 * $timetable-height-per-min - 5px;
					padding-left: 0;
					padding-right: 0;
					text-align: center;
				}
			}
		}

		.foyer-column {
			min-width: 610px;
			width: 610px;
			display: flex;
			flex-flow: row wrap;

			h2 {
				width: 100%;
			}

			> ol {
				min-width: 200px;
				width: 200px;

				+ ol {
					margin-left: 5px;
				}
			}
		}
	}
}

.table-outermost {
	overflow: hidden;
}

.table-scroll-box {
	padding-left: $time-column-width + 5px;
	padding-top: 40px;
	position: relative;

	.tbody {
		height: calc(100vh - 100px);
		overflow: auto;

		@media (min-width: $desktop) {
			height: calc(100vh - 150px);
		}

		.time-column {
			left: 0;
			position: absolute;
			top: 40px;
		}

		h2 {
			display: none;
		}
	}

	.thead {
		height: auto;
		left: $time-column-width + 5px;
		overflow: visible;
		position: absolute;
		top: 0;
	}

	.corner {
		height: auto;
		left: 0;
		overflow: visible;
		position: absolute;
		top: 0;
		z-index: 99;
	}
}
