.page-workshops {
	@include merlon($flamingo, 3.75vw);
	color: $white;
	padding-bottom: 80px;

	@media (min-width: 36 / 12 * 320px) {
		@include merlon($flamingo, 36px);
	}

	.entry-content {
		font-size: 14px;

		@media (min-width: $tablet) {
			font-size: 16px;
		}
	}

	.main-event-title {
		font-size: 16px;
		font-weight: 500;
		margin-top: 20px;

		@media (min-width: $tablet) {
			font-size: 18px;
		}

		+ p {
			margin-top: 10px;
		}
	}

	.main-events {
		border: 4px solid rgba(#fff, 0.4);
		border-radius: 20px;
		padding: 15px;

		@media (min-width: $tablet) {
			display: flex;
			flex-flow: row wrap;
		}

		> li {

			@media (min-width: $tablet) {
				padding: 10px;
				width: 50%;
			}

			+ li {
				margin-top: 15px;

				@media (min-width: $tablet) {
					margin: 0;
				}
			}
		}

		.event-time {
			margin: 0;
		}

		.event-title {
			font-weight: 500;
		}
	}

	.workshops {
		border-top: 1px solid rgba(#fff, 0.2);
		margin-top: 20px;

		> li {
			border-bottom: 1px solid rgba(#fff, 0.2);
			padding: 15px 0 20px;
		}

		.workshop-title {
			font-size: 16px;
			font-weight: 500;
		}
	}

	.labels {
		font-size: 12px;
		display: flex;
		flex-flow: row wrap;
		margin: 0;
		margin-right: -10px;

		span {
			background: rgba(#fff, 0.2);
			border-radius: 24px;
			display: block;
			margin: 8px 10px 0 0;
			padding: 1.5px 1.5em;
			position: relative;
		}

		.label-for_ninja {
			padding-left: 55px;

			&::before {
				background: url(../images/8-bit-fuma.svg) no-repeat center center;
				background-size: 42px 30px;
				content: "";
				display: block;
				height: 30px;
				left: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 42px;
			}
		}
	}

	.workshop-more-button,
	.main-event-more-button {
		color: $flamingo;
		display: block;
		margin: 15px auto 0;
		padding-bottom: 2px;
		padding-top: 2px;
		text-transform: uppercase;
		width: 80px;
	}
}
