.page-workshops {
	@include merlon($flamingo, 3.75vw);
	color: $white;
	padding-bottom: 80px;

	@media (min-width: 36 / 12 * 320px) {
		@include merlon($flamingo, 36px);
	}

	.entry-content {
		font-size: 14px;

		@media (min-width: $tablet-s) {
			font-size: 16px;
		}
	}

	.main-event-title {
		font-size: 16px;
		font-weight: 500;
		margin-top: 20px;

		@media (min-width: $tablet-s) {
			font-size: 18px;
		}

		+ p {
			margin-top: 10px;
		}
	}

	.main-events {
		border: 4px solid rgba(#fff, 0.4);
		border-radius: 20px;
		padding: 15px;

		@media (min-width: $tablet-s) {
			display: flex;
			flex-flow: row wrap;
		}

		> li {

			@media (min-width: $tablet-s) {
				padding: 10px;
				width: 1 / 2 * 100%;
			}

			@media (min-width: $desktop-s) {
				width: 1 / 3 * 100%;
			}

			+ li {
				margin-top: 15px;

				@media (min-width: $tablet-s) {
					margin: 0;
				}
			}
		}

		.event-time {
			margin: 0;
		}

		.event-title {
			font-weight: 500;
		}
	}

	.workshops {
		border-top: 1px solid rgba(#fff, 0.2);
		margin-top: 20px;

		@media (min-width: $tablet-s) {
			border: 0;
			display: flex;
			flex-flow: row wrap;
			margin-top: 30px;
			margin-right: -20px;
		}

		> li {
			border-bottom: 1px solid rgba(#fff, 0.2);
			padding: 15px 0 20px;

			@media (min-width: $tablet-s) {
				border: 0;
				padding: 0 20px 75px 0;
				position: relative;
				width: 1 / 2 * 100%;
			}

			@media (min-width: $desktop-s) {
				width: 1 / 3 * 100%;
			}
		}

		.post-thumbnail {
			display: none;

			@media (min-width: $tablet-s) {
				display: block;
				margin-bottom: 10px;
			}
		}

		.workshop-title {
			font-size: 16px;
			font-weight: 500;
		}
	}

	.main-event-more-button,
	.workshop-more-button {
		color: $flamingo;
		display: block;
		margin: 15px auto 0;
		padding-bottom: 2px;
		padding-top: 2px;
		text-transform: uppercase;
		width: 80px;
	}

	.workshop-more-button {

		@media (min-width: $tablet-s) {
			bottom: 30px;
			left: 50%;
			margin: 0;
			position: absolute;
			transform: translateX(-50%);
		}
	}
}

.single-workshop {

	.workshop-labels {
		justify-content: center;
		margin: -10px auto 15px;

		span {
			background: rgba($navy, 0.2);
		}
	}

	.post-meta {

		.area {
			$ribon-color: $flamingo;
			$border-color: $white;

			$ribon-border-width: 3px;
			$ribon-height: 30px;
			$right-ribon-width: 205px;
			$left-ribon-width: 40px;

			$left-ribon-height: $ribon-height;
			$left-ribon-border-width: $ribon-border-width;
			$right-ribon-height: $ribon-height;
			$right-ribon-border-width: $ribon-border-width;
			$text-width: $right-ribon-width - 10px;

			$ribon: (
				color: $ribon-color,
				height: $left-ribon-height,
				width: $left-ribon-width,
				border-color: $border-color,
				border-width: $left-ribon-border-width,
				direction: left,
			);
			@include ribon-bordered($ribon);
			color: $white;
			font-size: 14px;
			font-weight: 500;
			left: 5px;
			margin: 15px auto 30px;
			width: $text-width;

			> span {
				$ribon: (
					color: $ribon-color,
					height: $right-ribon-height,
					width: $right-ribon-width,
					border-color: $border-color,
					border-width: $right-ribon-border-width,
				);
				@include ribon-bordered($ribon);
				display: block;
				line-height: $right-ribon-height - 2px;
				margin: auto;
				padding-bottom: 2px;
				position: relative;
				text-align: center;
				z-index: 5;
			}

			&::before {
				top: 10px;
				right: $text-width - $left-ribon-width + 20px;
				bottom: auto;
				left: auto;
			}

			&::after {
				top: $ribon-border-width + 10px;
				right: $text-width - $left-ribon-width + $left-ribon-border-width + 20px;
				bottom: auto;
				left: auto;
			}

			@media (min-width: $tablet-s) {
				$ribon-border-width: 3px;
				$ribon-height: 34px;
				$right-ribon-width: 280px;
				$left-ribon-width: 45px;

				$left-ribon-height: $ribon-height;
				$left-ribon-border-width: $ribon-border-width;
				$right-ribon-height: $ribon-height;
				$right-ribon-border-width: $ribon-border-width;
				$text-width: $right-ribon-width - 10px;

				$ribon: (
					color: $ribon-color,
					height: $left-ribon-height,
					width: $left-ribon-width,
					border-color: $border-color,
					border-width: $left-ribon-border-width,
					direction: left,
				);
				@include ribon-bordered($ribon);
				font-size: 16px;
				font-weight: 700;
				margin-top: 20px;
				margin-bottom: 60px;
				width: $text-width;

				> span {
					$ribon: (
						color: $ribon-color,
						height: $right-ribon-height,
						width: $right-ribon-width,
						border-color: $border-color,
						border-width: $right-ribon-border-width,
					);
					@include ribon-bordered($ribon);
					line-height: $right-ribon-height - 4px;
					padding-bottom: 4px;
				}

				&::before {
					top: 12px;
					right: $text-width - $left-ribon-width + 25px;
					bottom: auto;
					left: auto;
				}

				&::after {
					top: $left-ribon-border-width + 12px;
					right: $text-width - $left-ribon-width + $left-ribon-border-width + 25px;
					bottom: auto;
					left: auto;
				}
			}
		}
	}
}
