.archive,
.front-page-content {
	padding: calc(15px + 7.5vw) 0;

	@media (min-width: $desktop-l) {
		padding-bottom: 15 + 73.5px;
		padding-top: 15 + 73.5px;
	}

	.archive-title,
	.page-title {
		font-family: $roboto-condensed;
		font-size: 33.6px;
		font-weight: bold;
		letter-spacing: -0.125em;
		margin-bottom: 45px;
		position: relative;
		text-align: center;
		text-transform: uppercase;

		@media (min-width: $tablet-s) {
			font-size: 48px;
			letter-spacing: -0.1em;
		}

		&::before,
		&::after {
			@include position(absolute, auto 0 -32px 0);
			display: block;
			font-size: 28px;
			height: 28px;
			line-height: 28px;
			margin: 0 auto;
			overflow: hidden;
			width: 4 * 7 + 5 * 28px;
			transform: scale(0.857142857); // 24px

			@media (min-width: $tablet-s) {
				transform: scale(1.178571429); // 33px
			}
		}

		&::before {
			@include dojocon8bit;
			content: "\e900\e900\e900\e900\e900";
			letter-spacing: 7px;
			white-space: nowrap;
		}

		&::after {
			background: url(../images/8-bit-hachimakis.svg) no-repeat center center;
			background-size: contain;
			content: "";
		}

		+ .archive-excerpt,
		+ .page-excerpt {
			font-family: $pixelmplus10;
			font-size: 14px;
			margin: 45px 0 30px;
			text-align: center;

			@media (min-width: $tablet-s) {
				font-size: 16px;
			}
		}
	}

	.pagination {
		max-width: 980px;
		margin: auto;
		padding: 0 20px;
		text-align: center;

		a {
			color: inherit;
			font-weight: 500;
		}

		.screen-reader-text {
			display: none;
			visibility: hidden;
		}

		.page-numbers {
			display: inline-block;
			padding: 0 0.25em;
		}
	}
}
