.entry-content {
	padding: 0 20px;

	a {
		color: inherit;
	}

	p {
		margin: 1.75em 0;
	}

	img {

		&.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.googlemaps-container {
		@include embed-container(100%);
	}

	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}
}
