.footer {
	background: $navy;
	font-weight: 500;
	padding: 5px;

	@media (min-width: $desktop-s) {
		padding: 8.75px;

		.footer-inner {
			display: flex;
			justify-content: space-between;
			margin: auto;
			max-width: 940px;
		}
	}

	.footer-nav {
		color: $light-gray;
		font-size: 14px;
		margin: 25px auto;
		opacity: 0.75;
		text-align: center;

		@media (min-width: $desktop-s) {
			margin: 0;
		}

		a {
			color: $light-gray;
			display: block;
			padding: 4px 0;
		}

		img {
			max-height: 32px;
			width: auto;

			&[src$=".svg"] {
				height: 32px;
			}
		}

		.menu {
			display: flex;
			justify-content: center;

			.menu-item {

				&.code-of-conduct:first-child {
					margin: 0 24px 0 10px;
				}

				&.facebook,
				&.twitter {
					margin: 0 10px;

					a {
						padding: 0;

						&:hover {
							opacity: 0.75;
						}
					}
				}

				@media (min-width: $desktop-s) {

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	.copyright {
		color: $light-gray;
		font-size: 14px;
		margin: 25px auto;
		opacity: 0.75;
		text-align: center;

		@media (min-width: $desktop-s) {
			margin: 0;
			order: -1;
		}
	}
}
