.header {
	background: rgba($mid-night, 0.9);
	color: $white;
	padding: 0 30px;

	@media (min-width: $desktop) {
		align-items: center;
		background: $white;
		color: $default-font-color;
		display: flex;
		overflow: visible;
		padding: 0 30px 0 10px;
	}

	@mixin menu-typo() {
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;

		@media (min-width: $desktop) {
			font-size: 21px;
		}
	}

	.menu-title {
		@include menu-typo;
		border-bottom: 1px solid $white;
		padding: 8px 1em;

		@media (min-width: $desktop) {
			border-bottom-color: $default-font-color;
			padding: 18px 1em;
		}
	}

	.global-nav-box {
		margin: 15px auto 20px;

		@media (min-width: $desktop) {
			margin: 0 auto 0 0;

			.menu-title {
				display: none;
			}
		}

		.global-nav {
			@include menu-typo;

			.menu {

				@media (min-width: $wide-menu) {
					column-count: 2;
					column-gap: 10px;
				}

				@media (min-width: $desktop) {
					display: flex;
				}

				.menu-item {
					position: relative;

					@media (min-width: $desktop) {

						&:hover {

							a {
								background: $flamingo;
								color: $white;
							}

							.sub-menu {
								display: flex;
								z-index: 10;
							}
						}
					}
				}


				> .menu-item {

					> a {
						white-space: nowrap;

						&::before,
						.menu-image-title::before {
							@include dojocon8bit;
							display: inline-block;
							font-size: 20px;
							line-height: 20px;
							vertical-align: -2px;

							@media (min-width: $desktop) {
								font-size: 28px;
								line-height: 28px;
								vertical-align: -4px;
							}
						}

						&::before {
							content: "\e900";
							margin-right: -20px;

							@media (min-width: $desktop) {
								color: $navy;
								margin-right: -28px;
							}
						}

						.menu-image-title::before {
							content: "\e901";
							margin-right: 14px;

							@media (min-width: $desktop) {
								margin-right: 16px;
							}
						}
					}

					&.yellow > a .menu-image-title::before {
						color: $yellow;
					}

					&.blue > a .menu-image-title::before {
						color: $blue;
					}

					&.red > a .menu-image-title::before {
						color: $red;
					}

					&.green > a .menu-image-title::before {
						color: $green;
					}

					&.magenta > a .menu-image-title::before {
						color: $magenta;
					}

					&:hover > a::before {
						color: $white;
					}
				}
			}

			a {
				border-bottom: 1px solid $navy;
				color: $white;
				display: block;
				padding: 6px 1em;
				text-decoration: none;

				&:hover {
					color: rgba($white, 0.75);
				}

				@media (min-width: $desktop) {
					border: 0;
					color: $flamingo;
					padding: 7px 20px;
				}
			}

			.sub-menu {

				@media (min-width: $desktop) {
					background: $flamingo;
					display: none;
					position: absolute;
				}

				.menu-item {

					a {
						color: $flamingo;

						&:hover {
							color: rgba($flamingo, 0.75);
						}

						@media (min-width: $desktop) {
							color: $white;

							&:hover {
								color: rgba($white, 0.75);
							}
						}
					}
				}
			}
		}
	}

	.entry-nav-box {
		margin: 20px auto 40px;

		@media (min-width: $desktop) {
			@include position(fixed, 50% auto auto 50%);
			background: $white;
			border-radius: 4px;
			margin: auto;
			padding: 10px 30px;
			transform: translate(-50%, -75%);
			width: 520px;
			z-index: 999;

			opacity: 0;
			transition: all 0.15s linear;
			visibility: hidden;

			&.is-active {
				opacity: 1;
				transform: translate(-50%, -50%);
				visibility: visible;
			}
		}

		.menu {

			a {
				@include button;
				@include button-block;
			}

			.menu-item {
				margin-bottom: 10px;

				@media (min-width: $desktop) {
					margin-bottom: 20px;
				}
			}

			@media (min-width: $wide-menu) {

				$entry-menu-item: (
					columns: 2,
					gutter: 10px,
				);

				@include grid-container;
				margin-left: -10px;
				margin-right: -10px;

				> .menu-item {
					@include grid-column(1, $entry-menu-item);

					@media (min-width: $desktop) {
						@include grid-column(2, $entry-menu-item);
					}
				}
			}
		}

		.entry-nav {
			border-bottom: 1px solid $navy;
			margin-bottom: 12px;
			padding: 20px 0 10px;

			@media (min-width: $desktop) {
				margin-bottom: 22px;
				padding-top: 30px;
			}

			a {
				@include button-primary;
			}
		}

		.workshop-note {
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 10px;
			text-align: center;

			@media (min-width: $desktop) {
				font-size: 14px;
				margin-bottom: 20px;
			}
		}

		.workshop-nav {

			a {
				@include button-secondary;
			}
		}

		.entry-nav-box-close {
			display: none;

			@media (min-width: $desktop) {
				@include position(absolute, 32px 25px auto auto);
				display: block;
			}
		}
	}

	.entry-nav-box-toggle {
		@include button;
		@include button-primary;
		display: none;

		@media (min-width: $desktop) {
			display: block;
			font-size: 21px;
			font-weight: 700;
			letter-spacing: 0.05em;
			margin: 5px 25px;
			padding: 1.5px 10px;
			text-transform: uppercase;
			width: 210px;

			&::before {
				content: "▶︎";
				font-size: 14px;
				margin-right: 25px;
				vertical-align: 2px;
			}
		}
	}

	.entry-nav-fade-screen {
		@include position(fixed, 0);
		background: $mid-night;
		opacity: 0;
		transition: all 0.2s ease-in-out;
		visibility: hidden;
		z-index: 998;

		@media (min-width: $desktop) {

			&.is-active {
				opacity: 0.9;
				visibility: visible;
			}
		}
	}

	.coderdojo-nav {
		display: none;

		@media (min-width: $desktop) {
			display: block;
			margin: 5px 0;

			&:hover {
				opacity: 0.75;
			}
		}

		img {
			max-height: 40px;
			width: auto;

			&[src$=".svg"] {
				height: 40px;
			}
		}
	}
}

.archive-header,
.post-header {
	background: $flamingo;
	color: $white;
	font-size: 18px;
	padding: 25px 0;
	text-align: center;

	@media (min-width: $tablet-s) {
		font-size: 24px;
		padding: (50 + 25px) 0 50px;
	}

	.site-title {
		font-family: $roboto-condensed;
		font-weight: bold;
		letter-spacing: -0.125em;

	}

	.archive-title,
	.post-type-title {
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 25px;
		position: relative;

		@media (min-width: $tablet-s) {
			font-size: 22px;
			margin-top: -5px;
		}

		&::before,
		&::after {
			@include position(absolute, auto 0 -32px 0);
			display: block;
			font-size: 28px;
			height: 28px;
			line-height: 28px;
			margin: 0 auto;
			overflow: hidden;
			width: 4 * 7 + 5 * 28px;
			transform: scale(0.642857143); // 18px

			@media (min-width: $tablet-s) {
				transform: scale(0.857142857); // 24px
			}
		}

		&::before {
			@include dojocon8bit;
			content: "\e900\e900\e900\e900\e900";
			letter-spacing: 7px;
			white-space: nowrap;
		}

		&::after {
			background: url(../images/8-bit-hachimakis.svg) no-repeat center center;
			background-size: contain;
			content: "";
		}
	}
}
