.page {

	.page-title {
		font-family: $helvetica;
		font-size: 34px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;

		span {
			transform: scale(0.75, 1);
		}

		+ .page-excerpt {
			font-family: $pixelmplus10;
			font-size: 14px;
			text-align: center;
		}
	}
}