.page {

	.page-title {
		font-family: $roboto-condensed;
		font-size: 33.6px;
		font-weight: bold;
		letter-spacing: -0.125em;
		margin-bottom: 45px;
		text-align: center;
		text-transform: uppercase;

		&::before,
		&::after {
			@include position(absolute, auto 0 -32px 0);
			display: block;
			font-size: 24px;
			height: 24px;
			line-height: 24px;
			margin: 0 auto;
			overflow: hidden;
			width: 144px;
		}

		&::before {
			@include bit-fuma;
			content: "\e900\e900\e900\e900\e900";
			letter-spacing: 6px;
			white-space: nowrap;
		}

		&::after {
			background: url(../images/8-bit-hachimakis.svg) no-repeat center center;
			background-size: contain;
			content: "";
		}

		+ .page-excerpt {
			font-family: $pixelmplus10;
			font-size: 14px;
			margin: 45px 0 30px;
			text-align: center;
		}
	}
}
