.post-header {
	background: $flamingo;
	color: $white;
	font-size: 18px;
	padding: 25px 0;
	text-align: center;

	@media (min-width: $tablet-s) {
		font-size: 24px;
		padding: (50 + 25px) 0 30px;
	}

	.site-title {
		font-family: $roboto-condensed;
		font-weight: bold;
		letter-spacing: -0.125em;

	}

	.post-type-title {
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 25px;
		position: relative;

		@media (min-width: $tablet-s) {
			font-size: 22px;
			margin-top: -5px;
		}

		&::before,
		&::after {
			@include position(absolute, auto 0 -32px 0);
			display: block;
			font-size: 28px;
			height: 28px;
			line-height: 28px;
			margin: 0 auto;
			overflow: hidden;
			width: 4 * 7 + 5 * 28px;
			transform: scale(0.642857143); // 18px

			@media (min-width: $tablet-s) {
				transform: scale(0.857142857); // 24px
			}
		}

		&::before {
			@include dojocon8bit;
			content: "\e900\e900\e900\e900\e900";
			letter-spacing: 7px;
			white-space: nowrap;
		}

		&::after {
			background: url(../images/8-bit-hachimakis.svg) no-repeat center center;
			background-size: contain;
			content: "";
		}
	}
}

.single {

	.post-meta,
	.post-thumbnail {
		margin: 50px auto;
		max-width: 980px;
		padding: 0 20px;
		text-align: center;
	}

	.post-meta {
		font-weight: 500;

		.post-title {
			background: url(../images/about-h2-border.svg) no-repeat center bottom;
			background-size: 160px 2px;
			font-size: 24px;
			font-weight: 500;
			line-height: 1.5;
			margin-bottom: 1em;
			padding-bottom: 1em;

			@media (min-width: $tablet-s) {
				font-size: 28px;
			}
		}
	}

	.entry-content {
		font-size: 15px;
		margin-bottom: 70px;

		@media (min-width: $tablet-s) {
			font-size: 16px;
		}

		a {
			color: $flamingo;
		}

		h1 {
			background: url(../images/about-h2-border.svg) no-repeat center bottom;
			background-size: 160px 2px;
			font-size: 24px;
			font-weight: 500;
			line-height: 1.5;
			margin: 1.75em 0 1em;
			text-align: center;

			@media (min-width: $tablet-s) {
				font-size: 28px;
			}
		}

		h2 {
			border-bottom: 1px solid $default-font-color;
			font-size: 21px;
			font-weight: 500;
			margin: 1.75em 0 1.25em;
			padding-bottom: 0.5em;

			@media (min-width: $tablet-s) {
				font-size: 24px;
			}
		}

		h3 {
			border-left: 4px solid $flamingo;
			font-size: 18px;
			font-weight: 700;
			margin: 1.75em 0 1.458333333em;
			padding-left: 1em;

			@media (min-width: $tablet-s) {
				font-size: 20px;
			}
		}

		h4 {
			font-weight: 700;
			margin: 1.75em 0;
		}

		ul,
		ol {
			margin: 1.75em 0;
			padding-left: 1em;

			> li {
				margin-bottom: 0.5em;
			}
		}

		ul {
			list-style-type: square;
		}

		ol {
			list-style-type: decimal;
		}

		table {
			border: 1px solid #99a4ae;
		}

		th {
			background: #ebedef;
			border: 1px solid #99a4ae;
			font-weight: 700;
			padding: 1em;
		}

		td {
			border: 1px solid #99a4ae;
			padding: 1em;
		}

		*:first-child {
			margin-top: 0;
		}

		*:last-child {
			margin-bottom: 0;
		}
	}
}
