.error404,
.page:not(.home),
.single {

	.post-meta,
	.post-thumbnail {
		margin: 50px auto;
		max-width: 980px;
		padding: 0 20px;
		text-align: center;

		@media (min-width: $tablet-s) {
			margin-top: 90px;
		}
	}

	.post-meta {
		font-weight: 500;

		.post-title {
			background: url(../images/about-h2-border.svg) no-repeat center bottom;
			background-size: 160px 2px;
			font-size: 24px;
			font-weight: 500;
			line-height: 1.5;
			margin-bottom: 1em;
			padding-bottom: 1em;

			@media (min-width: $tablet-s) {
				font-size: 28px;
			}
		}
	}

	.entry-content {
		font-size: 15px;
		margin: 50px auto 70px;

		@media (min-width: $tablet-s) {
			font-size: 16px;
			margin-bottom: 100px;
		}

		a {
			color: $flamingo;
		}

		h1 {
			background: url(../images/about-h2-border.svg) no-repeat center bottom;
			background-size: 160px 2px;
			font-size: 24px;
			font-weight: 500;
			line-height: 1.5;
			margin: 1.75em 0 1em;
			text-align: center;

			@media (min-width: $tablet-s) {
				font-size: 28px;
			}
		}

		h2 {
			border-bottom: 1px solid $default-font-color;
			font-size: 21px;
			font-weight: 500;
			margin: 1.75em 0 1.25em;
			padding-bottom: 0.5em;

			@media (min-width: $tablet-s) {
				font-size: 24px;
			}
		}

		h3 {
			border-left: 4px solid $flamingo;
			font-size: 18px;
			font-weight: 700;
			margin: 1.75em 0 1.458333333em;
			padding-left: 1em;

			@media (min-width: $tablet-s) {
				font-size: 20px;
			}
		}

		h4 {
			font-weight: 700;
			margin: 1.75em 0;
		}

		h5 {
			font-weight: 500;
			margin: 1.75em 0;
		}

		h6 {
			font-size: 0.8em;
			margin: 1.75em 0;
		}

		ul,
		ol {
			margin: 1.75em 0;
			padding-left: 1em;

			> li {
				margin-bottom: 0.5em;
			}
		}

		ul {
			list-style-type: square;
		}

		ol {
			list-style-type: decimal;
		}

		table {
			border: 1px solid #99a4ae;
		}

		th {
			background: #ebedef;
			border: 1px solid #99a4ae;
			font-weight: 700;
			padding: 1em;
		}

		td {
			border: 1px solid #99a4ae;
			padding: 1em;
		}

		:not(.keep-margin) *:first-child {
			margin-top: 0;
		}

		:not(.keep-margin) *:last-child {
			margin-bottom: 0;
		}
	}
}
