@mixin button() {
	background: transparent;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	padding: 8px 1em;
	text-align: center;
	text-decoration: none;

	@media (min-width: $desktop) {
		font-size: 18px;
		padding: 4px 25px;
	}
}

@mixin button-default() {
	background: $light-gray;
	color: $default-font-color;

	&:hover {
		background: shade($light-gray, 10);
	}
}

@mixin button-primary() {
	background: $flamingo;
	color: $white;

	&:hover {
		background: shade($flamingo, 10);
	}
}

@mixin button-secondary() {
	background: $navy;
	color: $white;

	&:hover {
		background: shade($navy, 10);
	}
}

@mixin button-white() {
	background: $white;
	color: $default-font-color;

	&:hover {
		background: shade($white, 10);
	}
}

@mixin button-bordered() {
	background: $white;
	border: 1px solid $default-font-color;
	color: $default-font-color;

	&:hover {
		background: shade($white, 10);
	}
}

@mixin button-block() {
	display: block;
}

@mixin button-reset() {
	border-radius: 0;
	padding: 0;

	@media (min-width: $desktop) {
		padding: 0;
	}
}

@mixin button-close() {
	$button-close-size: 16px;
	$button-close-padding: 6px;
	$button-close-border: 2px;

	@include button;
	@include button-reset;
	font-size: 0 !important;
	height: $button-close-size + $button-close-padding * 2;
	padding: $button-close-padding;
	position: relative;
	width: $button-close-size + $button-close-padding * 2;

	&::before,
	&::after {
		@include position(absolute, 0 0 0 0);
		background: $default-font-color;
		content: "";
		display: block;
		height: $button-close-border;
		margin: auto;
		width: $button-close-size * 1.414;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}

	&:hover {

		&::before,
		&::after {
			opacity: 0.75;
		}
	}
}

button,
.button {
	@include button;
}

.button-primary {
	@include button-primary;
}

.button-secondary {
	@include button-secondary;
}

.button-white {
	@include button-white;
}

.button-bordered {
	@include button-bordered;
}

.button-close {
	@include button-close;
}
