.sliding-panel-content {
	@include position(fixed, 0 0 0 0);
	@include size(100%, 100%);
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	transform: translateY(-100%);
	transition: all 0.15s linear;
	z-index: 999;

	@media (min-width: $desktop) {
		bottom: auto;
		height: auto;
		transform: none;
	}

	&.is-active {
		transform: translateY(0);

		@media screen {
			transform: none;
		}
	}
}

.admin-bar {

	.sliding-panel-content {

		@media (min-width: $desktop) {
			top: 32px;
		}
	}
}

// .sliding-panel-fade-screen {
// 	@include position(fixed, 0);
// 	background: $mid-night;
// 	opacity: 0;
// 	transition: all 0.2s ease-in-out;
// 	visibility: hidden;
// 	z-index: 998;

// 	&.is-active {
// 		opacity: 0.9;
// 		visibility: visible;
// 	}
// }
